@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family:'Montserrat' ;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.main{
    align-content: center;
    color: red;
    width: 100%;
}
 
.nav{
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}
.image{
    display: block;
    width: 100%;
}
img{
    max-width: 100%;
}
.title{
    text-align: center;
   margin-top:38px ;
   margin-bottom: 50px; 
}
.text{
    text-align: center;
}
.text1{
  margin-bottom: 28px;  
}
.text2{
    margin-bottom:66px ;
}
.btn{
    background: red;
    border: 0;
    border-radius: 4px;
    color: white;
    padding: 18px 43px;
    margin: 0;
}
.text3{
    text-decoration: none;
}
.link{
display: inline-block;
color: red;
text-decoration: none;
padding: 25px;
}
a{
    color: inherit;
}
.conteiner{
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 2.4px;
}
.foot{
    text-align: right;
    color: #373737;
    margin-top: 92px;
    margin-bottom: 30px;
    letter-spacing: 2.4px;
    font-size: 16px;
    font-weight: 700;
}

